body {
    background: #F8B195;
    font-family:'Times New Roman', Times, serif;
    margin: 50px;
}
h1 {
    color: #C06C84;
    text-align: center;
}
h2 {
    color: #355C7D;
    text-align: left;
}
h3 {
    color: #355C7D;
    text-align: center;
}
.about {
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}
.about img {
    width: 150px;
    height:200px;
    border-radius: 25%;
    border: 2px solid rgb(126, 14, 201);
}
.about p {
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}
.project {
    display: flex; 
    flex-wrap: wrap;
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #C0C8CF;
    border-radius: 25%;
}
.project img{
    width: 240px;
    height: 100px;
    margin: 10px;
    border: 2px solid hex(#355C7D);
    display: block;
    margin: auto;
} 
a {
    text-decoration: none;
    text-align: center;
    color: purple;
}
.project p {
    text-align: center;
    margin: 15px;
}