body {
    background: #F8B195;
    font-family:'Times New Roman', Times, serif;
    margin: 50px;
}
h1 {
    color: #C06C84;
    text-align: center;
}
h2 {
    color: #355C7D;
    text-align: left;
}
h3 {
    color: #355C7D;
    text-align: left;
}
.projects { display:flex; flex-wrap:wrap; }
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: #C0C8CF;
    border-radius: 25%;
}
.project img{
    width: 100px;
    height: 140px;
    margin: 10px;
    border: 2px solid hex(#355C7D);
    display: block;
    margin: auto;
} 
a {
    text-decoration: none;
    text-align: center;
    color: purple;
}
.project p {
    text-align: center;
    margin: 15px;
}