body {
    background: #F8B195;
    font-family:'Times New Roman', Times, serif;
    margin: 50px;
}
h1 {
    color: #C06C84;
    text-align: center;
}
h2 {
    color: #355C7D;
    text-align: left;
}